body{
    background-color: black;
    color: white;
    text-align: center;
}

form {
    margin: auto;
    width: 400px;
    height: 250px;
    text-align: center;
    background-color: #8a2be2;
    border-radius: 10px;
    padding-top: 50px;
    
}

h2{
        color: gold;
    }

.divs{
    margin: auto;
    width: 400px;
    height: 250px;
    text-align: center;
    background-color: #8a2be2;
    border-radius: 10px;
    color: white;
    overflow: auto;
    margin-top: 20px;
}